<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
</head>
<body>
  <h1>Edit User</h1>
  <form method="POST" action="/login/:<%= user.email %>">
    <label for="username">Username</label>
    <input type="text" name="username" value="<%= user.userName %>">

    <label for="email">Email</label>
    <input type="email" name="email" value="<%= user.email %>">

    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="hidden" name="userId" value="<%=user._id%>">
    
    <button type="submit">Save Changes</button>
  </form>
</body>
</html>
