<!-- login.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Login Page</h1>
  <form action="/login" method="POST">
    <input type="text" name="username" id="username" placeholder="Username" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <button type="submit">Login</button>
    <p>No tienes cuenta todavia Registrate <a href="/login/register">aqui</a></p>
  </form>
  <table>
    <thead>
      <tr>
        <th>UserName</th>
        <th>Password</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.userName %></td>
          <td><%= user.password %></td>
          <td><%= user.email %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
