<!-- welcome.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Welcome <%= user.userName %>!</h1>
  <p>You have successfully logged in.</p>
  <form action="/login/<%=user._id%>" method="GET">  
    <button type="submit">Edit Account</button>   
  </form>
  <form action="/login/delete/<%=user._id%>" method="GET">  
    <button type="submit">Delete Account</button>   
  </form>
</body>
</html>
